In [23]:
import pandas as pd
import numpy as np
a = pd.read_excel('./아파트(매매)_실거래가_20240227162710.xlsx')
a = a.drop(index=range(0,11,1))
a.columns = a.loc[11,:]
a.drop([11], axis=0, inplace=True)
a.to_csv('./Seoul_Apartment.csv', index=False)

C:\Users\meo47\anaconda3\envs\python_38\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [84]:
class csv_control:
    def __init__(self, df):
        self.df = df
    def check(self):
        display(self.df.columns)
        display(self.df.info())
        display(self.df.isnull().sum())
    def data_setting(self, col_list):
        self.df = self.df.drop(col_list, axis=1)
        display(self.df.info())
    def columns_compare(self, compare_df):
        list1 = list(set(self.df.columns))
        list2 = list(set(compare_df.columns))
        list1.sort()
        list2.sort()
        display(list1)
        display(list2)
        display(list1==list2)

Seoul = csv_control(pd.read_csv('./Seoul_Apartment.csv'))

In [58]:
# Seoul.check()
Seoul.df

,NO,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),동,층,매수자,매도자,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,등기일자
0,1,서울특별시 도봉구 방학동,271-1,271,1,신동아아파트1,53.16,202302,27,"40,000",23,7,-,-,1988,시루봉로 107,-,중개거래,서울 노원구,23.03.15
1,2,서울특별시 금천구 시흥동,1013,1013,0,관악산벽산타운5,84.97,202302,27,"50,800",513,20,-,-,2004,금하로 816,-,중개거래,서울 금천구,23.04.28
2,3,서울특별시 동작구 사당동,105,105,0,신동아4,118.25,202302,27,"126,000",407,9,-,-,1993,동작대로29길 110,-,중개거래,서울 동작구,23.04.14
3,4,서울특별시 송파구 신천동,17,17,0,파크리오,59.64,202302,27,"150,000",202,3,-,-,2008,올림픽로 435,-,중개거래,서울 송파구,23.06.02
4,5,서울특별시 송파구 가락동,913,913,0,헬리오시티,84.98,202302,27,"188,500",413,21,-,-,2018,송파대로 345,-,중개거래,서울 송파구,23.05.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34905,34906,서울특별시 동대문구 회기동,346-18,346,18,베라체캠퍼스,24.01,202402,21,"25,400",-,7,법인,개인,2013,이문로 37,20240222,중개거래,서울 동대문구,-
34906,34907,서울특별시 동대문구 회기동,346-18,346,18,베라체캠퍼스,24.01,202402,21,"25,400",-,7,법인,개인,2013,이문로 37,-,중개거래,서울 동대문구,-
34907,34908,서울특별시 성동구 옥수동,561,561,0,래미안 옥수 리버젠,59.25,202402,21,"140,000",-,4,개인,개인,2012,매봉길 15,-,중개거래,서울 성동구,-
34908,34909,서울특별시 강서구 내발산동,741,741,0,마곡수명산파크2단지,84.68,202402,22,"99,000",-,10,개인,개인,2007,강서로47길 158,-,중개거래,서울 강서구,-
34909,34910,서울특별시 성북구 상월곡동,101,101,0,동아에코빌,59.95,202402,23,"52,500",-,1,개인,개인,2003,장월로1길 28,-,중개거래,서울 성북구,-

In [59]:
origin = pd.read_excel('./Seoul_APT.xlsx')

In [85]:
drop_cols = ['동','매수자', '매도자', 'NO']
Seoul.df.drop(drop_cols, axis=1, inplace=True)
Seoul.columns_compare(origin)

['거래금액(만원)',
 '거래유형',
 '건축년도',
 '계약년월',
 '계약일',
 '단지명',
 '도로명',
 '등기일자',
 '번지',
 '본번',
 '부번',
 '시군구',
 '전용면적(㎡)',
 '중개사소재지',
 '층',
 '해제사유발생일']

['거래금액(만원)',
 '거래유형',
 '건축년도',
 '계약년월',
 '계약일',
 '단지명',
 '도로명',
 '등기일자',
 '번지',
 '본번',
 '부번',
 '시군구',
 '전용면적(㎡)',
 '중개사소재지',
 '층',
 '해제사유발생일']

True

In [89]:
Seoul.df.index = Seoul.df.loc[:, '시군구']
Seoul.df.drop('시군구', axis=1, inplace=True)
Seoul.df = Seoul.df.reset_index()
Seoul.df

,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,등기일자
시군구,,,,,,,,,,,,,,,
서울특별시 도봉구 방학동,271-1,271,1,신동아아파트1,53.16,202302,27,"40,000",7,1988,시루봉로 107,-,중개거래,서울 노원구,23.03.15
서울특별시 금천구 시흥동,1013,1013,0,관악산벽산타운5,84.97,202302,27,"50,800",20,2004,금하로 816,-,중개거래,서울 금천구,23.04.28
서울특별시 동작구 사당동,105,105,0,신동아4,118.25,202302,27,"126,000",9,1993,동작대로29길 110,-,중개거래,서울 동작구,23.04.14
서울특별시 송파구 신천동,17,17,0,파크리오,59.64,202302,27,"150,000",3,2008,올림픽로 435,-,중개거래,서울 송파구,23.06.02
서울특별시 송파구 가락동,913,913,0,헬리오시티,84.98,202302,27,"188,500",21,2018,송파대로 345,-,중개거래,서울 송파구,23.05.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
서울특별시 동대문구 회기동,346-18,346,18,베라체캠퍼스,24.01,202402,21,"25,400",7,2013,이문로 37,20240222,중개거래,서울 동대문구,-
서울특별시 동대문구 회기동,346-18,346,18,베라체캠퍼스,24.01,202402,21,"25,400",7,2013,이문로 37,-,중개거래,서울 동대문구,-
서울특별시 성동구 옥수동,561,561,0,래미안 옥수 리버젠,59.25,202402,21,"140,000",4,2012,매봉길 15,-,중개거래,서울 성동구,-
서울특별시 강서구 내발산동,741,741,0,마곡수명산파크2단지,84.68,202402,22,"99,000",10,2007,강서로47길 158,-,중개거래,서울 강서구,-
서울특별시 성북구 상월곡동,101,101,0,동아에코빌,59.95,202402,23,"52,500",1,2003,장월로1길 28,-,중개거래,서울 성북구,-

In [100]:
Seoul.df.to_csv('./Seoul_Apartment_fin.csv', index=False)
pd.read_csv('./Seoul_Apartment_fin.csv')

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,등기일자
0,서울특별시 도봉구 방학동,271-1,271,1,신동아아파트1,53.16,202302,27,"40,000",7,1988,시루봉로 107,-,중개거래,서울 노원구,23.03.15
1,서울특별시 금천구 시흥동,1013,1013,0,관악산벽산타운5,84.97,202302,27,"50,800",20,2004,금하로 816,-,중개거래,서울 금천구,23.04.28
2,서울특별시 동작구 사당동,105,105,0,신동아4,118.25,202302,27,"126,000",9,1993,동작대로29길 110,-,중개거래,서울 동작구,23.04.14
3,서울특별시 송파구 신천동,17,17,0,파크리오,59.64,202302,27,"150,000",3,2008,올림픽로 435,-,중개거래,서울 송파구,23.06.02
4,서울특별시 송파구 가락동,913,913,0,헬리오시티,84.98,202302,27,"188,500",21,2018,송파대로 345,-,중개거래,서울 송파구,23.05.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34905,서울특별시 동대문구 회기동,346-18,346,18,베라체캠퍼스,24.01,202402,21,"25,400",7,2013,이문로 37,20240222,중개거래,서울 동대문구,-
34906,서울특별시 동대문구 회기동,346-18,346,18,베라체캠퍼스,24.01,202402,21,"25,400",7,2013,이문로 37,-,중개거래,서울 동대문구,-
34907,서울특별시 성동구 옥수동,561,561,0,래미안 옥수 리버젠,59.25,202402,21,"140,000",4,2012,매봉길 15,-,중개거래,서울 성동구,-
34908,서울특별시 강서구 내발산동,741,741,0,마곡수명산파크2단지,84.68,202402,22,"99,000",10,2007,강서로47길 158,-,중개거래,서울 강서구,-
34909,서울특별시 성북구 상월곡동,101,101,0,동아에코빌,59.95,202402,23,"52,500",1,2003,장월로1길 28,-,중개거래,서울 성북구,-